.container {
    position: relative;
  }
  
  .search {
    border: 1px solid #666;
    font-size: 18px;
    padding: 0.6vw;
    width: 50%;
  }
  
  .results {
    list-style: none;
    overflow: hidden;
    margin: 9px 0 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 50%;
  }
  
  .result {
    background: #ff0;
    color: #000;
    margin: 0 0 9px;
    padding: 0.6vw;
  }
  
  .result a {
    color: #000;
    font-size: 16px
  }